# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Env Secrets
secrets.env

# Ignore built binary
apricate

# Debug Log (ansi format)
debug.ansi
rdebug.ansi

# Username Slur Filter List
slur_filter.txt

# Balance Notes
balance_notes

# Dependency directories (remove the comment below to include it)
# vendor/
